@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="photoartsystem-administration-wrapper">

    @Scripts.Render("~/bundles/jqueryval")

    @RenderBody()
</div>

@section Scripts { 
    @RenderSection("scripts", required: false)
}