@using PhotoArtSystem.Web.ViewModels.HomePageModels
@model IEnumerable<InformationViewModel>


@foreach (var info in Model)
{
    <div class="panel panel-default photoArtSystem-info-panel">
        <div class="panel-heading">
            <h3 class="text-center photoArtSystem-info-panel-heading">@info.Title</h3>
        </div>        
        <div class="panel-body photoArtSystem-info-panel-body">@info.Description</div>
    </div>
}