@using PhotoArtSystem.Web.Controllers

@{
    ViewBag.Title = "Home Page";
}

<div>
    @(Html.Action<HomeController>(c => c.GetCarouselData()))
    @(Html.Action<HomeController>(c => c.GetPhotoArtInfos()))
</div>
