@using PhotoArtSystem.Web.Controllers

@{
    ViewBag.Title = "Home Page";
}

<div class="photoArtSystem-home-content">
    @(Html.Action<HomeController>(c => c.GetCarouselData()))
    <div class="panel page-header">
        <h1 class="text-capitalize text-center photoArtSystem-headline">
            Are you ready to capture the moment ?
        </h1>
    </div>
    @(Html.Action<HomeController>(c => c.GetPhotoArtInfos()))
</div>

@section scripts{
    <script>
        (function () {
            $('.carousel').carousel({
                interval: 5000,
                pause: null
            })
        }())
    </script>
}
