@using PhotoArtSystem.Web.Controllers

@{
    ViewBag.Title = "Home Page";
}

<div id="vegas-container">
    <img src="~/Images/cover14.jpg" class="invisible" />
</div>

@(Html.Action<HomeController>(c => c.GetPhotoArtServices(), new { area = string.Empty }))

@section scripts{
    @Scripts.Render("~/bundles/vegas")
    <script>
        $("#vegas, #vegas-container").vegas({
            delay: 7000,
            transitionDuration: 3500,
            slides: [
                { src: '@ViewBag.Slide1' },
                { src: '@ViewBag.Slide2' }
            ],
            overlay: true
        });
    </script>
}