@using PhotoArtSystem.Web.Controllers

@{
    ViewBag.Title = "Home Page";
}

<div>
    @(Html.Action<HomeController>(c => c.GetCarouselData()))
    <br />
    <hr />
    <br />
    @(Html.Action<HomeController>(c => c.GetPhotoArtInfos()))
</div>
