@using PhotoArtSystem.Common.DateTime


<footer class="photoartsystem-padding-sides-15">
    <div>
        <p>&copy; @GlobalDateTimeInfo.GetDateTimeUtcNow().ToLocalTime().Year - My ASP.NET Application</p>
    </div>
</footer>


