@{
    ViewBag.Title = "All photo courses";
}

<div id="photoartsystem-photocourse-all" class="container">
    <h2>@ViewBag.Title</h2>
    <hr />

    @(Html.Action<PhotocourseController>(c => c.GetAllPhotocourses()))
</div>
