@model string
@* TINYMCE *@

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    @Html.TextAreaFor(m => m, new { @class = "photoartsystem-tinymce" })
    @Html.ValidationMessageFor(m => m, string.Empty, new { @class = "text-danger" })
</div>