

.photoArtSystem-home-content {
    margin-top: 20px;
}

.home-window {    
    min-height: 650px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1199px) {
    .home-window {
        min-height: 550px;
    }
}

@media (max-width: 991px) {
    .home-window {
        min-height: 450px;
    }
}

@media (max-width: 767px) {
    .home-window {
        min-height: 350px;
    }
}