$text_shadow_black: 1px 1px 1px rgba(0, 0, 0, 0.75), 0 0 1em black, 0 0 0.7em black;
$text_shadow_white: 1px 1px 1px rgba(255, 255, 255, 0.75), 0 0 1em white, 0 0 0.7em white;

$nav_base_background_color: rgb(231, 233, 233);
$nav_anchor_background_color:  rgb(196, 200, 200);

$font_size: 22px;
$font_size_input: 20px;

$line_height_input: 0.95;

@mixin padding_sides($sizePx) {
    padding-left: $sizePx;
    padding-right: $sizePx;
}

.dropdown-menu{
    font-size: $font_size_input;
    
    &>li{
        &>a{
            line-height: 1;
        }
    }
}

.btn{
    font-size: $font_size;
    line-height: $line_height_input;    
}

.form-control{
    font-size: $font_size_input;
    line-height: $line_height_input;       
}

body {
    padding-top: 50px;
    background-color: floralwhite;
    font-family: Gabriola;
    font-size: $font_size;
    font-style: italic;
    font-weight: 500;

    .photoartsystem-error-class {
        position: relative;
    }

    .photoartsystem-padding-sides-15 {
        @include padding_sides(15px);
    }

    .photoartsystem-input-block {
    }

    .photoartsystem-navigation {
        background-color: $nav_base_background_color;

        .photoartsystem-navbar-brand {
            padding: 0;
            padding-left: 15px;
            padding-right: 15px;
        }

        .open {
            & > a {
                background-color: $nav_anchor_background_color !important;
            }
        }

        .dropdown-menu {
            background-color: $nav_base_background_color !important;
        }

        a {
            color: black !important;
            text-shadow: $text_shadow_white;

            &:hover {
                color: white !important;
                text-shadow: $text_shadow_black;
            }
        }
    }

    .photoartsystem-content {
        .photoartsystem-content-body {
            padding-bottom: 30px;
        }

        padding-bottom: 30px;
    }

    @import "loading";

    @import "home-page";

    @import "photocourses-all-page";

    @import "photocourse-create";
}
