body {
    padding-top: 50px;    

    .body-content-left-right-padding{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .error-class {
        position: relative;
    }
}
