$text_shadow_black: 1px 1px 1px rgba(0, 0, 0, 0.75), 0 0 1em black, 0 0 0.7em black;
$text_shadow_white: 1px 1px 1px rgba(255, 255, 255, 0.75), 0 0 1em white, 0 0 0.7em white;

$nav_base_background_color: rgb(231, 233, 233);

@mixin padding_sides($sizePx) {    
    padding-left: $sizePx;
    padding-right: $sizePx;
}

body {
    padding-top: 50px;
    background-color: floralwhite;

    .photoartsystem-error-class {
        position: relative;
    }

    .photoartsystem-padding-sides-15 {
        @include padding_sides(15px);
    }

    .photoartsystem-input-block {
    }

    .photoartsystem-navigation {
        background-color: $nav_base_background_color;

        .photoartsystem-navbar-brand {
            padding: 0;
            padding-left: 15px;
            padding-right: 15px;
        }

        .open {
            & > a {
                background-color: rgb(196, 200, 200) !important;
            }
        }

        .dropdown-menu {
            background-color: $nav_base_background_color !important;
        }

        a {
            color: black !important;
            text-shadow: $text_shadow_white;

            &:hover {
                color: white !important;
                text-shadow: $text_shadow_black;
            }
        }
    }

    .photoartsystem-content {
        .photoartsystem-content-body {
            padding-bottom: 30px;
        }

        padding-bottom: 30px;
    }

    @import "home-page";

    @import "photocourse-create";
}
